.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #121212;
}

.flex{
    display: flex;
}
.invert{
    filter: invert(1);
}
.p-1{
    padding: 25px;
}
.m-1{
    margin: 10px;
}
.rounded{
    border-radius: 7px;
}
.border{
    border: 2px solid red;
}






/* Scrollbar for the entire website */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background-color: #2C2C2C; /* Dark gray background */
    border-radius: 6px; /* Rounded corners */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #555555; /* Medium gray color */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #2C2C2C; /* Matches the track's color to create a gap effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #888888; /* Lighter gray on hover */
}

/* Optional: Scrollbar corner, where two scrollbars meet */
::-webkit-scrollbar-corner {
    background-color: #2C2C2C; /* Matches the track's color */
}
